body{
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
}
.bg-faded {
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
}
p{
	margin: 0px;
}
.card{
	border: 0px;
	margin-bottom: 40px;
}
.mt30{
	margin-top: 30px;
}
a.link-title{
	color: #000;
	text-decoration: none;
}
a.link-title:hover{
	color: #000;
	text-decoration: none;
}
.grey{
	color: #999;
}
.minuti {
    margin-top: -40px;
    background-color: #fff;
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
    font-weight: bolder;
    float: right;
    line-height: 0px;
}